*{
    margin: 0;
}

header,h1{
    background-color: rgb(44, 38, 38);
    padding: 30px;
}

h2{
    padding:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transition: font-size 0.75s, color 0.5s;
    transition-timing-function:cubic-bezier(.93,.45,.53,1.21);
}
h2:hover{
    color:azure;
    text-align: center;
}

.row {
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

#section,
#section2,
#section3,
#section4{
    height: 900px;
    justify-content: center;
    margin: 0;
    transition: flex-grow 0.75s, background-color 1.5s;
    transition-timing-function:cubic-bezier(.93,.45,.53,1.21);
}

#section {
    background-color: #e66b32;
    flex-grow: 0.5;
}
#section:hover {
    background-color: #f16829;
    flex-grow: 3;
}
#section2 {
    background-color: #16497c;
    flex-grow: 0.5;
}
#section2:hover {
    background-color: #0E3D6C;
    flex-grow: 3;
}
#section3 {
    background-color: rgb(61, 49, 49);
    flex-grow: 0.5;
}
#section3:hover {
    background-color: rgb(56, 44, 44);
    flex-grow: 3;
}
#section4 {
    background-color: rgb(51, 100, 51);
    flex-grow: 0.5;
}
#section4:hover {
    background-color: rgb(50, 113, 50);
    flex-grow: 3;
}
p{
    text-align: center;
    max-width: 400px;
    margin-top: 50px;
    margin-left: 120px;
    font-weight: 600;
    transition: font-weight 1s, font-size 2s, opacity 1s;
    transition-timing-function: ease-in-out;
}
p:hover{
    font-weight: 800;
}

/*----------------------------------------*/

.imgshell{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    transition: width 0.5s;
    transition-timing-function:cubic-bezier(.93,.45,.53,1.21);
}

.Resumeclass{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}